.card {
  max-width: 413px;
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  background-image: url(../images/delete.png);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.png);
  cursor: pointer;
}

.card__title {
  color: #212121;
  margin: 12px 0 0;
  font-weight: 500;
  line-height: 120%;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin: 12px 0 0;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    line-height: 100%;
    font-size: 16px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
